langchain
langchainhub
openai
func_to_script==0.1.0
transformers
datasets
accelerate
peft
trl
bitsandbytes
pypdf
retry
scipy
einops
sentencepiece
azure-keyvault-secrets==4.6.0
scikit-learn
pandas
azureml-mlflow
mlflow