langchain
langchainhub
openai
func_to_script==0.1.0
transformers==4.36.2
datasets==2.16.1
accelerate==0.26.1
bitsandbytes==0.42.0
trl
peft
pypdf
retry
scipy
einops
sentencepiece
azure-keyvault-secrets==4.6.0
scikit-learn
pandas
azureml-mlflow
mlflow
ninja
packaging
